.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
.header-image {
  width: 100%;
  height: auto;
}
a:link, a:visited {
  text-decoration: none;
  color: black;
}
a:hover, a:active{
  color: black;
  text-decoration: underline; 
}
.header-text {
  position: absolute;
  text-align: center;
}
.skills {
}
.experience {
}
.hobbies {
}
.education {
}
.container {
  display: grid;
}
body {
  font: 18px arial;
}