.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
  align-content: space-around;
  background-image: url("header00.png");
  padding-bottom: 25px;
  padding-top: 25px;
}
a:link, a:visited {
  text-decoration: none;
  color: black;
}
a:hover, a:active{
  color: black;
  text-decoration: underline; 
}
.skills {
  margin: 20px;
}
.experience {
  margin: 20px;
}
.hobbies {
  margin: 20px;
}
.education {
  margin: 20px;
}
.container {
  background-color: white;
  max-width: 800px;
  padding-bottom: 25px;
  margin: auto;
}
.skill-list {
  column-fill: balance;
  column-count: 4;
  display: inline-block;
  width: 100%;
}
.hobby-list {
  column-fill: balance;
  column-count: 3;
  width: 100%;
}
ul {
  margin-top: 0px;
}
body {
  background-color: lightgray;
  font: 12px arial;
}
